@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a, li, strong {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  --color-lighter: #f5f6f7;
  --color-light: #e2e3e4;
  --color-dark: #515253;
  --color-darker: #141516;
  --color-primary: #23a54f;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
  text-align: left;
  font-weight: 400;
  background-color: #fff;
  color: var(--color-darker);
}

ul, ol, dl {
  margin: 0;
  margin-bottom: 1rem;
}

li > ul {
  margin-bottom: 0;
}

li > ol {
  margin-bottom: 0;
}

li > dl {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 0.5rem;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

h1, h2 {
  margin: 0;
  margin-bottom: 0.75rem;
}

p {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: filter 300ms;
}

a:hover {
  filter: brightness(0.8);
}

form {
  margin-bottom: 1rem;
}

input {
  line-height: inherit;
}

input[type=tel], input[type=datetime], input[type=time], input[type=date], input[type=password], input[type=email], input[type=text] {
  border: 1px solid var(--color-light);
  padding: 0.4rem;
  font-family: inherit;
  font-size: 0.9rem;
  margin: 0 0.5rem 0.5rem 0;
  color: var(--color-darker);
}

input[type=tel]::placeholder, input[type=datetime]::placeholder, input[type=time]::placeholder, input[type=date]::placeholder, input[type=password]::placeholder, input[type=email]::placeholder, input[type=text]::placeholder {
  font-size: 0.8rem;
}

button, input[type=reset], input[type=button], input[type=submit] {
  background-color: var(--color-lighter);
  border: 1px solid var(--color-light);
  border-radius: 3px;
  padding: 0.3rem 0.8rem;
  margin: 0 0.3rem 0.3rem 0;
  font-family: inherit;
  transition: filter 200ms;
  cursor: pointer;
}

button:hover, input[type=reset]:hover, input[type=button]:hover, input[type=submit]:hover {
  filter: brightness(0.95);
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  font-size: 1.4rem;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.5rem;
  line-height: inherit;
}

label {
  display: inline-block;
}

textarea {
  overflow: auto;
  resize: vertical;
  line-height: inherit;
}

/* spacing */
.m-0 {
  margin: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.p-0 {
  padding: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* spacing */
.m-1 {
  margin: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/* spacing */
.m-2 {
  margin: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* spacing */
.m-3 {
  margin: 1rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-3 {
  padding: 1rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* spacing */
.m-4 {
  margin: 1.5rem;
}

.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.p-4 {
  padding: 1.5rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* spacing */
.m-5 {
  margin: 3rem;
}

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.p-5 {
  padding: 3rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* default container styles */
.container, .container-sm, .container-md, .container-lg, .container-xl, .container-fluid {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* default sizing at xl screens */
.container, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  max-width: 1140px;
}

/* sizing at lg screens */
@media (max-width: 1200px) {
  .container-xl {
    max-width: 100%;
  }

  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}
/* sizing at md screens */
@media (max-width: 992px) {
  .container-lg {
    max-width: 100%;
  }

  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}
/* sizing at sm screens */
@media (max-width: 768px) {
  .container-md {
    max-width: 100%;
  }

  .container, .container-sm {
    max-width: 540px;
  }
}
/* sizing at xs screens */
@media (max-width: 576px) {
  .container-xl {
    max-width: 100%;
  }

  .container {
    max-width: 100%;
  }
}
.row {
  --rcss-gutter-x: 1.5rem;
  --rcss-gutter-y: 0px;
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  margin-top: calc(var(--rcss-gutter-y) * -1);
  margin-left: calc(var(--rcss-gutter-x) / -2);
  margin-right: calc(var(--rcss-gutter-x) / -2);
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-left: calc(var(--rcss-gutter-x) / 2);
  padding-right: calc(var(--rcss-gutter-x) / 2);
  margin-top: var(--rcss-gutter-y);
}

/* for xl screens */
.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 50%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.offset-12 {
  margin-left: 100%;
}

.g-0, .gx-0 {
  --rcss-gutter-x: 0;
}

.g-0, .gy-0 {
  --rcss-gutter-y: 0;
}

.g-1, .gx-1 {
  --rcss-gutter-x: 0.25rem;
}

.g-1, .gy-1 {
  --rcss-gutter-y: 0.25rem;
}

.g-2, .gx-2 {
  --rcss-gutter-x: 0.5rem;
}

.g-2, .gy-2 {
  --rcss-gutter-y: 0.5rem;
}

.g-3, .gx-3 {
  --rcss-gutter-x: 1rem;
}

.g-3, .gy-3 {
  --rcss-gutter-y: 1rem;
}

.g-4, .gx-4 {
  --rcss-gutter-x: 1.5rem;
}

.g-4, .gy-4 {
  --rcss-gutter-y: 1.5rem;
}

.g-5, .gx-5 {
  --rcss-gutter-x: 3rem;
}

.g-5, .gy-5 {
  --rcss-gutter-y: 3rem;
}

/* for lg, md, sm, xs screens */
@media (max-width: 1200px) {
  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }

  .g-lg-0, .gx-lg-0 {
    --rcss-gutter-x: 0;
  }

  .g-lg-0, .gy-lg-0 {
    --rcss-gutter-y: 0;
  }

  .g-lg-1, .gx-lg-1 {
    --rcss-gutter-x: 0.25rem;
  }

  .g-lg-1, .gy-lg-1 {
    --rcss-gutter-y: 0.25rem;
  }

  .g-lg-2, .gx-lg-2 {
    --rcss-gutter-x: 0.5rem;
  }

  .g-lg-2, .gy-lg-2 {
    --rcss-gutter-y: 0.5rem;
  }

  .g-lg-3, .gx-lg-3 {
    --rcss-gutter-x: 1rem;
  }

  .g-lg-3, .gy-lg-3 {
    --rcss-gutter-y: 1rem;
  }

  .g-lg-4, .gx-lg-4 {
    --rcss-gutter-x: 1.5rem;
  }

  .g-lg-4, .gy-lg-4 {
    --rcss-gutter-y: 1.5rem;
  }

  .g-lg-5, .gx-lg-5 {
    --rcss-gutter-x: 3rem;
  }

  .g-lg-5, .gy-lg-5 {
    --rcss-gutter-y: 3rem;
  }
}
@media (max-width: 992px) {
  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .offset-md-11 {
    margin-left: 91.6666666667%;
  }

  .g-md-0, .gx-md-0 {
    --rcss-gutter-x: 0;
  }

  .g-md-0, .gy-md-0 {
    --rcss-gutter-y: 0;
  }

  .g-md-1, .gx-md-1 {
    --rcss-gutter-x: 0.25rem;
  }

  .g-md-1, .gy-md-1 {
    --rcss-gutter-y: 0.25rem;
  }

  .g-md-2, .gx-md-2 {
    --rcss-gutter-x: 0.5rem;
  }

  .g-md-2, .gy-md-2 {
    --rcss-gutter-y: 0.5rem;
  }

  .g-md-3, .gx-md-3 {
    --rcss-gutter-x: 1rem;
  }

  .g-md-3, .gy-md-3 {
    --rcss-gutter-y: 1rem;
  }

  .g-md-4, .gx-md-4 {
    --rcss-gutter-x: 1.5rem;
  }

  .g-md-4, .gy-md-4 {
    --rcss-gutter-y: 1.5rem;
  }

  .g-md-5, .gx-md-5 {
    --rcss-gutter-x: 3rem;
  }

  .g-md-5, .gy-md-5 {
    --rcss-gutter-y: 3rem;
  }
}
@media (max-width: 768px) {
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }

  .g-sm-0, .gx-sm-0 {
    --rcss-gutter-x: 0;
  }

  .g-sm-0, .gy-sm-0 {
    --rcss-gutter-y: 0;
  }

  .g-sm-1, .gx-sm-1 {
    --rcss-gutter-x: 0.25rem;
  }

  .g-sm-1, .gy-sm-1 {
    --rcss-gutter-y: 0.25rem;
  }

  .g-sm-2, .gx-sm-2 {
    --rcss-gutter-x: 0.5rem;
  }

  .g-sm-2, .gy-sm-2 {
    --rcss-gutter-y: 0.5rem;
  }

  .g-sm-3, .gx-sm-3 {
    --rcss-gutter-x: 1rem;
  }

  .g-sm-3, .gy-sm-3 {
    --rcss-gutter-y: 1rem;
  }

  .g-sm-4, .gx-sm-4 {
    --rcss-gutter-x: 1.5rem;
  }

  .g-sm-4, .gy-sm-4 {
    --rcss-gutter-y: 1.5rem;
  }

  .g-sm-5, .gx-sm-5 {
    --rcss-gutter-x: 3rem;
  }

  .g-sm-5, .gy-sm-5 {
    --rcss-gutter-y: 3rem;
  }
}
@media (max-width: 576px) {
  .row-cols-xs-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xs-1 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .row-cols-xs-2 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .row-cols-xs-3 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xs-4 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xs-5 > * {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .row-cols-xs-6 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xs-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-xs-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xs-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xs-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xs-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-xs-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xs-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-xs-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-xs-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xs-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-xs-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-xs-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xs-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xs-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xs-3 {
    margin-left: 25%;
  }

  .offset-xs-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xs-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xs-6 {
    margin-left: 50%;
  }

  .offset-xs-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xs-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xs-9 {
    margin-left: 75%;
  }

  .offset-xs-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xs-11 {
    margin-left: 91.6666666667%;
  }

  .g-xs-0, .gx-xs-0 {
    --rcss-gutter-x: 0;
  }

  .g-xs-0, .gy-xs-0 {
    --rcss-gutter-y: 0;
  }

  .g-xs-1, .gx-xs-1 {
    --rcss-gutter-x: 0.25rem;
  }

  .g-xs-1, .gy-xs-1 {
    --rcss-gutter-y: 0.25rem;
  }

  .g-xs-2, .gx-xs-2 {
    --rcss-gutter-x: 0.5rem;
  }

  .g-xs-2, .gy-xs-2 {
    --rcss-gutter-y: 0.5rem;
  }

  .g-xs-3, .gx-xs-3 {
    --rcss-gutter-x: 1rem;
  }

  .g-xs-3, .gy-xs-3 {
    --rcss-gutter-y: 1rem;
  }

  .g-xs-4, .gx-xs-4 {
    --rcss-gutter-x: 1.5rem;
  }

  .g-xs-4, .gy-xs-4 {
    --rcss-gutter-y: 1.5rem;
  }

  .g-xs-5, .gx-xs-5 {
    --rcss-gutter-x: 3rem;
  }

  .g-xs-5, .gy-xs-5 {
    --rcss-gutter-y: 3rem;
  }
}
.jc-between {
  justify-content: space-between !important;
}

.jc-evenly {
  justify-content: space-evenly !important;
}

.jc-around {
  justify-content: space-around !important;
}

.jc-start {
  justify-content: flex-start !important;
}

.jc-end {
  justify-content: flex-end !important;
}

.jc-center {
  justify-content: center !important;
}

.ai-start {
  align-items: flex-start !important;
}

.ai-end {
  align-items: flex-end !important;
}

.ai-center {
  align-items: center !important;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter > .col,
.no-gutter > [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.order-first {
  order: -1;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-last {
  order: 6;
}

@media (max-width: 1200px) {
  .order-lg-first {
    order: -1;
  }

  .order-lg-0 {
    order: 0;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-last {
    order: 6;
  }
}
@media (max-width: 992px) {
  .order-md-first {
    order: -1;
  }

  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-last {
    order: 6;
  }
}
@media (max-width: 768px) {
  .order-sm-first {
    order: -1;
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .order-sm-last {
    order: 6;
  }
}
@media (max-width: 576px) {
  .order-xs-first {
    order: -1;
  }

  .order-xs-0 {
    order: 0;
  }

  .order-xs-1 {
    order: 1;
  }

  .order-xs-2 {
    order: 2;
  }

  .order-xs-3 {
    order: 3;
  }

  .order-xs-4 {
    order: 4;
  }

  .order-xs-5 {
    order: 5;
  }

  .order-xs-last {
    order: 6;
  }
}

/*# sourceMappingURL=framework-all.css.map */
