@import '../constants';

@mixin gutter-default {
    @each $index, $value in $gutters {
        .g-#{$index}, .gx-#{$index} {
            --rcss-gutter-x: #{$value};
        }
    
        .g-#{$index}, .gy-#{$index} {
            --rcss-gutter-y: #{$value};
        }
    }
}

@mixin gutter-breakpoint($breakpoint-name) {
    @each $index, $value in $gutters {
        .g-#{$breakpoint-name}-#{$index}, .gx-#{$breakpoint-name}-#{$index} {
            --rcss-gutter-x: #{$value};
        }
    
        .g-#{$breakpoint-name}-#{$index}, .gy-#{$breakpoint-name}-#{$index} {
            --rcss-gutter-y: #{$value};
        }
    }
}